@font-face {
  font-family: "Suisse Int'l";
  font-weight: 400;
  src: url("../fonts/SuisseIntl-Regular.otf"), url("../fonts/SuisseIntl-Regular.eot"), url("../fonts/SuisseIntl-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SuisseIntl-Regular.ttf") format("truetype"), url("../fonts/SuisseIntl-Regular.woff2") format("woff2"), url("../fonts/SuisseIntl-Regular.woff") format("woff"), url("../fonts/SuisseIntl-Regular.svg") format("svg");
}
@font-face {
  font-family: "Suisse Int'l";
  font-weight: 450;
  src: url("../fonts/SuisseIntl-Book.otf"), url("../fonts/SuisseIntl-Book.eot"), url("../fonts/SuisseIntl-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/SuisseIntl-Book.ttf") format("truetype"), url("../fonts/SuisseIntl-Book.woff2") format("woff2"), url("../fonts/SuisseIntl-Book.woff") format("woff"), url("../fonts/SuisseIntl-Book.svg") format("svg");
}
@font-face {
  font-family: "Suisse Int'l";
  font-weight: 500;
  src: url("../fonts/SuisseIntl-Medium.otf"), url("../fonts/SuisseIntl-Medium.eot"), url("../fonts/SuisseIntl-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/SuisseIntl-Medium.ttf") format("truetype"), url("../fonts/SuisseIntl-Medium.woff2") format("woff2"), url("../fonts/SuisseIntl-Medium.woff") format("woff"), url("../fonts/SuisseIntl-Medium.svg") format("svg");
}
@font-face {
  font-family: "Suisse Int'l";
  font-weight: 600;
  src: url("../fonts/SuisseIntl-SemiBold.otf"), url("../fonts/SuisseIntl-SemiBold.eot"), url("../fonts/SuisseIntl-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SuisseIntl-SemiBold.ttf") format("truetype"), url("../fonts/SuisseIntl-SemiBold.woff2") format("woff2"), url("../fonts/SuisseIntl-SemiBold.woff") format("woff"), url("../fonts/SuisseIntl-SemiBold.svg") format("svg");
}