@import "fonts.scss";
@import "null.scss";
@import "variables.scss";

// BASE
// * {
//     scrollbar-color: rgba($gray-dark, 0.8) rgba($gray-light, 0.8);
//     scrollbar-width: thin;
// }

body {
    font-family: "Suisse Int'l";
    font-size: 16px;
    color: $black;
    background-color: $white;
    min-width: 320px;
    &.open {
        overflow: hidden;
    }
}

// body::-webkit-scrollbar {
//     width: 8px;
// }

// body::-webkit-scrollbar-track {
//     border-radius: 4px;
//     background-color: rgba($gray-light, 0.8);
// }

// body::-webkit-scrollbar-thumb {
//     border-radius: 4px;
//     background-color: rgba($gray-dark, 0.8)
// }

.wrapper {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 224px;
    transition: all 0.3s ease;
    &.collapse {
        margin-left: 72px;
    }
}

@media(max-width: 1366px) {
   .container {
        margin-left: 72px;
        &.collapse {
            margin-left: 72px;
        }
   }
}

@media(max-width: 767px) {
    .container {
        margin-left: 0;
        &.collapse {
            margin-left: 0;
        }
    }

    .container-payments,
    .container-payouts {
        height: calc(100vh - 52px);
        overflow-y: auto;
    }
}
// COMMON
.modal {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease;
    background-color: rgba($black, 0.5);
    overflow-y: auto;
    &.open {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        .modal__wrapper {
            top: 0;
        }
    }

    &__wrapper {
        position: relative;
        top: -50px;
        margin: 40px auto;
        padding: 20px 16px 16px 16px;
        background-color: $white;
        border-radius: 28px;
        transition: all 0.5s ease;
    }

    &__close {
        position: absolute;
        width: 24px;
        height: 24px;
        top: -18px;
        right: -18px;
        background-color: transparent;
        svg {
            fill: rgba($white, 0.7);
            transition: all 0.3s ease;
        }
        @media(any-hover:hover) {
        &:hover {
            svg {
                fill: $white;
            }
          }
        }
    }

    &__title {
        margin-bottom: 24px;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
    }
}

@media(max-width: 767px) {
  .modal {
    &__close {
        top: -18px;
        right: -14px;
        svg {
            fill: $white;
        }
    }
  }
}

.input {
    position: relative;
    &.focused {
        .input__placeholder {
            top: 30%;
            font-size: 12px;
            line-height: 12px;
        }
        .input__field {
            padding: 18px 12px 6px 12px;
        }
    }
    &.error {
        .input__description {
            display: block;
            color: $red;
        }
        .input__field {
            border: 1px solid $red;
            background: rgba($red, 0.04);
        }
    }

    &__field {
        padding: 12px;
        width: 100%;
        font-size: 14px;
        line-height: 22px;
        border-radius: 12px;
        border: 1px solid $gray-light;
        background-color: $white;
        @media(any-hover:hover) {
        &:hover {
            border: 1px solid rgba($gray-dark, 0.40);
          }
        }
        &:focus {
            border: 1px solid $blue;
        }
        &:disabled {
            background-color: rgba($gray-light, 0.30);
            &:hover {
                border: 1px solid $gray-light;
            }
        }
    }

    &__placeholder {
        position: absolute;
        top: 50%;
        left: 12px;
        font-size: 14px;
        line-height: 22px;
        color: rgba($gray-dark, 0.8);
        transform: translateY(-50%);
        pointer-events: none;
    }

    &__description {
        display: none;
        position: absolute;
        z-index: 5;
        bottom: -12px;
        left: 0;
        color: rgba($gray-dark, 0.80);
        font-size: 12px;
        line-height: 12px;
    }

    &__icon {
        position: absolute;
        top: 12px;
        right: 12px;
        pointer-events: none;
    }
}

.select {
    position: relative;

    &__wrapper {
        position: relative; 
    }

    &__list {
        position: absolute;
        z-index: 5;
        top: -7px;
        left: 0;
        width: 100%;
        height: 0;
        padding: 6px;
        border-radius: 16px;
        background-color: $white;
        box-shadow: 0px 6px 34px 0px rgba($black, 0.12);
        border: 1px solid $gray-light;
        transition: all 0.4s ease;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        overflow-y: auto;
    }

    &__item {
        position: relative;
        padding: 12px 16px;
        border-radius: 12px;
        font-size: 14px;
        font-weight: 450;
        line-height: 20px;
        cursor: pointer;
        transition: all 0.4s ease;
        @media(any-hover:hover) {
        &:hover {
            background-color: rgba($gray-light, 0.40);
          }
        }
        &:not(:last-child) {
            margin-bottom: 4px;
        }
        &.selected {
            background-color: rgba($gray-light, 0.40);
            &::after {
                content: url("../assets/img/selected.svg");
                position: absolute;
                top: 12px;
                right: 16px;
            }
        }
    }

    &__icon {
        position: absolute;
        top: 12px;
        right: 12px;
        pointer-events: none;
    }

    &.open {
        .select__list {
            height: 202px;
            opacity: 1;
            visibility: visible;
            pointer-events: all;
            top: 7px;
        }
        .select__icon {
            transform: rotate(180deg);
        }
    }
}

.select .input__field {
    cursor: pointer;
}

.select .input__field:focus {
    border: 1px solid $gray-light;
}

.labels {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 24px;
}

.input-icon {
    position: absolute;
    top: 12px;
    right: 12px;
}

.button {
    position: relative;
    padding: 12px 24px;
    font-weight: 450;
    font-size: 14px;
    line-height: 20px;
    border-radius: 100px;
    transition: all 0.3s ease;
    max-height: 44px;
    white-space: nowrap;
    svg {
        min-width: 20px;
        max-width: 20px;
        min-height: 20px;
        max-height: 20px;
    }
    &.icon-right {
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 12px 16px 12px 20px;
    }
    &.icon-only {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 44px;
        max-height: 44px;
        padding: 12px;
    }

    &__primary {
        color: $white;
        background-color: $blue;
        @media(any-hover:hover) {
        &:hover {
            background-color: rgba($blue, 0.8);
          }
        }
        &:active {
            background-color: rgba($blue, 0.8);
        }
        &:disabled {
            background-color: rgba($blue, 0.5);
        }
    }

    &__secondary {
        color: $gray-dark;
        background-color: rgba($gray-light, 0.6);
        @media(any-hover:hover) {
        &:hover {
            background-color: $gray-light;
          }
        }
        &:active {
            background-color: $gray-light;
        }
        &:disabled {
            color: rgba($gray-dark, 0.5);
            background-color: rgba($gray-light, 0.6);
        }
    }

    &__tertiary {
        color: $blue;
        background-color: rgba($blue, 0.04);
        border: 1px solid $blue;
        @media(any-hover:hover) {
        &:hover {
            background-color: rgba($blue, 0.12);
          }
        }
        &:active {
            background-color: rgba($blue, 0.12);
        }
        &:disabled {
            color: rgba($blue, 0.50);
            border: 1px solid rgba($blue, 0.50);
            background-color: rgba($blue, 0.04);
        }
    }

    &__outline {
        color: $gray-dark;
        background-color: rgba($gray-light, 0.15);
        border: 1px solid $gray-light;
        @media(any-hover:hover) {
        &:hover {
            background-color: rgba($gray-light, 0.5);
          }
        }
        &.active,
        &:active {
            background-color: rgba($gray-light, 0.5);
        }
        &:disabled {
            color: rgba($gray-dark, 0.5);
        }
    }
}

@media(max-width: 767px) {
  .button {
    max-height: 40px;
    padding: 10px 16px;
    &.icon-only {
        max-width: 40px;
        max-height: 40px;
    }
  }
}

.search {
    position: relative;
    &.enter {
        .search__clear {
            opacity: 1;
            visibility: visible;
            pointer-events: all;
        }
    }

    &__icon {
        position: absolute;
        top: 12px;
        left: 12px;
    }

    &__clear {
        position: absolute;
        top: 12px;
        right: 12px;
        width: 20px;
        height: 20px;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: all 0.3s ease;
        background-color: transparent;
        svg {
            fill: rgba($gray-dark, 0.6);
            transition: all 0.3s ease;
            @media(any-hover:hover) {
                &:hover {
                    fill: $gray-dark
                }
            }
        }
    }

    &__input {
        width: 248px;
        max-height: 44px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        padding: 12px 16px 12px 44px;
        border-radius: 100px;
        background-color: rgba($gray-light, 0.15);
        border: 1px solid $gray-light;
        transition: all 0.3s ease;
        @media(any-hover:hover) {
        &:hover {
            background-color: rgba($gray-light, 0.15);
            border: 1px solid rgba($gray-dark, 0.40);
          }
        }
        &:focus {
            background-color: rgba($gray-light, 0.15);
            border: 1px solid $blue;
        }
        &::placeholder {
            color: rgba($gray-dark, 0.60);
        }
    }
}

@media(max-width: 992px) {
  .search {
    &__input {
        width: 253px;
    }
  }
}

@media(max-width: 767px) {
    .search {
        &__icon,
        &__clear {
            top: 10px;
        }

        &__input {
            max-height: 40px;
            max-width: 100%;
            padding: 10px 16px 10px 44px;
        }
    }
}

.pagination {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 32px 12px 40px;
    margin-top: auto;
    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $gray-light;
    }

    &__info {
        display: flex;
        gap: 20px;
        font-weight: 450;
        font-size: 12px;
        line-height: 20px;
    }
    
    &__count {
        color: $gray-dark;
    }

    &__navigation {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    &__button {
        width: 28px;
        height: 28px;
        background-color: transparent;
        border-radius: 8px;
        transition: all 0.3s ease;
        @media(any-hover:hover) {
        &:hover {
            background-color: rgba($gray-light, 0.50);
          }
        }
    }

    &__list {
        display: flex;
        gap: 4px;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 28px;
        height: 28px;
        font-weight: 450;
        font-size: 12px;
        line-height: 20px;
        border-radius: 8px;
        cursor: pointer;
        transition: all 0.3s ease;
        @media(any-hover:hover) {
        &:hover {
            background-color: rgba($gray-light, 0.50);
          }
        }
        &.active {
            color: $white;
            background-color: $blue;
        }
    }
}

@media(max-width: 576px) {
    .pagination {
        justify-content: center;

        &__info {
            display: none;
        }
    }
}

.filter {
    &__wrapper {
        position: relative;
    }

    &__block {
        position: absolute;
        z-index: 10;
        top: 8px;
        right: 0;
        width: 716px;
        padding: 16px;
        border-radius: 28px;
        background-color: $white;
        border: 1px solid $gray-light;
        box-shadow: 0px 6px 34px 0px rgba($black, 0.12);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: all 0.3s ease;
        &.open {
            opacity: 1;
            visibility: visible;
            pointer-events: all;
        }
    }

    &__fields {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 12px;
        margin-bottom: 24px;
    }

    &__buttons {
        display: flex;
        gap: 12px;
        > .button {
            flex: 0 1 50%;
        }
    }
}

@media(max-width: 1124px) {
  .filter {
    &__wrapper {
        position: static;
    }

    &__block {
        top: 80px;
        right: 50%;
        width: 92%;
        transform: translateX(50%);
    }
  }
}

@media(max-width: 767px) {
    .filter {
        &__block {
            top: 140px;
            width: 92%;
        }

        &__fields {
            grid-template-columns: 1fr;
        }
    }
}

@media(max-width: 576px) {
    .filter {
        &__block {
            top: 180px;
            width: 92%;
        }
        &__fields {
            grid-template-columns: 1fr;
        }
    }
}

.tooltip {
    position: absolute;
    z-index: 99;
    padding: 8px 10px;
    font-size: 12px;
    line-height: 16px;
    color: $white;
    border-radius: 10px;
    background-color: $gray-dark;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease;
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: -6px;
        background-color: $gray-dark;
        width: 9px;
        height: 9px;
        transform: rotate(45deg) translateY(-50%);
    }
}
// HEADER
.header {
    display: none;
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 64px;
    padding: 20px 20px 12px 20px;
    &::before {
        content: "";
        position: absolute;
        z-index: 52;
        top: 0;
        left: 0;
        width: 100%;
        height: 64px;
        background-color: $white;
    }

    &__copy {
        position: fixed;
        z-index: 51;
        bottom: -150%;
        left: 0;
        width: 100%;
        padding: 12px 20px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        transition: all 0.3s ease;
        background-color: $white;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    &__text {
        font-weight: 450;
        font-size: 12px;
        line-height: 20px;
        color: $gray-dark;
    }
}

@media(max-width: 767px) {
  .header {
    display: flex;
    align-items: center;
    &.open {
        .navigation {
            top: 0;
        }
        .header__copy {
            bottom: 0;
            opacity: 1;
            visibility: visible;
            pointer-events: all;
        }
        .header__burger-menu {
            display: none;
        }
        .header__burger-close {
            display: block;
        }
    }

    &__logo {
        position: relative;
        z-index: 52;
    }

    &__burger {
        position: absolute;
        z-index: 52;
        top: 24px;
        right: 20px;
        width: 24px;
        height: 24px;
        background-color: transparent;
    }

    &__burger-close {
        display: none;
    }
  }
}

.header-inner {
    padding: 24px 40px 16px 40px;
}

@media(max-width: 992px) {
    .header-inner {
        padding: 20px 16px 16px 16px;
    }
}

@media(max-width: 767px) {
    .header-inner {
        padding: 80px 16px 16px 16px;
    }
}
// FOOTER
.footer {
    margin-top: auto;
    margin-left: 224px;
    position: relative;
    transition: all 0.3s ease;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $gray-light;
    }
    &.collapse {
        margin-left: 72px;
    }

    &__content {
        padding: 12px 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__text {
        font-weight: 450;
        font-size: 12px;
        line-height: 20px;
        color: $gray-dark;
    }
}

@media(max-width: 1366px) {
    .footer {
        margin-left: 72px;
        &.collapse {
            margin-left: 72px;
        }
    }
}

@media(max-width: 767px) {
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-left: 0;
    background-color: $white;
    &.collapse {
        margin-left: 0;
    }

    &__content {
        display: none;
    }
  }
}
// TABLE
.table {
    &__content {
        overflow-x: hidden;
    }

    &__row-header {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        padding: 0 40px;
        background-color:rgba($gray-light, 0.15);
        border-bottom: 1px solid $gray-light;
        &::before {
            content: "";
            position: absolute;
            z-index: 10;
            top: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: $gray-light;
        }
    }

    &__item-header {
        padding: 11.5px 0;
        color: $gray-dark;
        font-size: 14px;
        font-weight: 450;
        line-height: 20px;
        white-space: nowrap;
    }

    &__row {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 20px;
        padding: 0 40px;
        cursor: pointer;
        @media(any-hover:hover) {
        &:hover {
            background-color: rgba($gray-light, 0.10);
          }
        }
    }

    &__item {
        padding: 10px 0;
        font-size: 12px;
        line-height: 20px;
        white-space: nowrap;
    }

    &__item-button {
        position: relative;
        width: 20px;
        height: 20px;
        background-color: transparent;
        @media(any-hover:hover) {
        &:hover {
            .table__item-tooltip {
                opacity: 1;
                visibility: visible;
                pointer-events: all;
            }
            
            .table__item-icon {
                fill: $blue;
                fill-opacity: 1;
            }
          }
        }
        &.hide {
            display: none;
        }
    }

    &__item-icon {
        fill: rgba($gray-dark, 0.6);
        transition: all 0.3s ease;
        &.icon-show {
            display: block;
        }

        &.icon-hide {
            display: none;
        }
    }

    &__item-tooltip {
        top: -7px;
        left: 30px;
    }
}

.table-adaptive {
    display: none;
}

@media(max-width: 767px) {
    .table-adaptive {
        display: block;

        &__list {
            display: flex;
            flex-direction: column;
        }

        &__item {
            position: relative;
            display: flex;
            flex-direction: column;
            padding: 8px 0 16px 0;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: $gray-light;
            }
        }

        &__row {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 20px;
            padding: 0 20px;
        }

        &__title {
            flex: 0 1 45%;
            padding: 6px 0;
            font-size: 14px;
            font-weight: 450;
            line-height: 20px;
            color: $gray-dark;
        }

        &__value {
            flex: 1 0 45%;
            display: flex;
            padding: 6px 0;
            font-size: 12px;
            line-height: 20px;
        }
    }
}
// NAVIGATION
.navigation {
    display: none;
}

@media(max-width: 767px) {
  .navigation {
    position: fixed;
    z-index: 51;
    top: -150%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 16px;
    align-items: flex-start;
    flex-direction: column;
    background-color: $white;
    transition: all 0.3s ease;

    &__item {
        width: 100%;
        &:last-child {
            .navigation__link {
                color: $red;
            }
            .navigation__icon {
                fill: $red;
            }
        }
    }

    &__link {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        gap: 12px;
        padding: 10px 12px;
        color: $black;
        font-size: 14px;
        font-weight: 450;
        line-height: 20px;
        border-radius: 100px;
        background-color: transparent;
        &.active {
            color: $white;
            background-color: $blue;
            &::after {
                content: "";
                position: absolute;
                top: 12px;
                right: 12px;
                width: 20px;
                height: 20px;
                background-image: url("../assets/img/arrow.svg");
                background-size: 20px 20px;
                background-repeat: no-repeat;
            }
            .navigation__icon {
                fill: $white;
            }
        }
    }

    &__icon {
        fill: $black;
    }
  }
}
// SIDEBAR
.sidebar {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 224px;
    height: 100%;
    padding: 32px 12px 12px;
    background-color: $white;
    transition: all 0.3s ease;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 1px;
        background-color: $gray-light;
    }
    &.collapse {
        width: 72px;
        padding: 32px 14px 12px;
        .sidebar__item-text,
        .sidebar__button-text,
        .sidebar__item.active::after,
        .logo__main {
            display: none;
        }
        .sidebar__collapse-icon {
            transform: rotate(180deg);
        }
        .logo {
            justify-content: center;
        }
        .logo__small {
            display: block;
        }
        .sidebar__item,
        .sidebar__button {
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover .sidebar__tooltip {
                opacity: 1;
                visibility: visible;
                pointer-events: all;
            }
        }
        .sidebar__button {
            padding: 10px;
        }
        .sidebar__link {
            padding: 10px;
            justify-content: center;
        }
    }

    &__collapse-button {
        position: absolute;
        width: 24px;
        height: 24px;
        top: 34px;
        right: -12px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $gray-light;
        border-radius: 50%;
        background-color: $white;
        transition: all 0.3s ease;
        @media(any-hover:hover) {
        &:hover {
            .sidebar__tooltip {
                opacity: 1;
                visibility: visible;
                pointer-events: all;
            }
          }
        }
        &:focus,
        &:active {
            border: 1px solid $gray-light;
        }
    }

    &__tooltip {
        top: -6px;
        left: 32px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 4px;
        margin-bottom: 4px;
    }

    &__item {
        position: relative;
        border-radius: 100px;
        transition: all 0.3s ease;
        @media(any-hover:hover) {
        &:hover {
            background-color: rgba($gray-dark, 0.1);
          }
        }
        &.active {
            background-color: $blue;
            &::after {
                content: "";
                position: absolute;
                top: 12px;
                right: 12px;
                width: 20px;
                height: 20px;
                background-image: url("../assets/img/arrow.svg");
                background-size: 20px 20px;
                background-repeat: no-repeat;
            }
        }
        &.active {
            .sidebar__item-text {
                color: $white;
            }
            .sidebar__item-icon {
                fill: $white;
            }
        }
        .sidebar__tooltip {
            top: 6px;
            left: 57px;
        }
    }

    &__link {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 12px;
        padding: 10px 12px;
    }

    &__item-icon,
    &__button-icon {
        min-width: 24px;
        min-height: 24px;
        max-width: 24px;
        max-height: 24px;
        fill: $black;
    }

    &__item-text {
        font-size: 14px;
        line-height: 20px;
        font-weight: 450;
        color: $black;
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-top: auto;
        gap: 4px;
    }

    &__button {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        max-height: 44px;
        gap: 12px;
        padding: 10px 12px;
        background-color: $white;
        border-radius: 100px;
        transition: all 0.3s ease;
        @media(any-hover:hover) {
        &:hover {
            background-color: rgba($gray-dark, 0.1);
          }
        }
        .sidebar__tooltip {
            top: 6px;
            left: 57px;
        }
    }

    &__button-text {
        font-size: 14px;
        line-height: 20px;
        font-weight: 450;
        color: $black;
    }
}

@media(max-width: 1366px) {
  .sidebar {
    align-items: center;
    padding: 32px 14px 12px;
    width: 72px;
    .sidebar__item-text,
    .sidebar__button-text,
    .sidebar__item.active::after,
    .logo__main {
        display: none;
    }
    .logo {
        justify-content: center;
    }
    .logo__small {
        display: block;
    }
    .sidebar__item:hover .sidebar__tooltip,
    .sidebar__button:hover .sidebar__tooltip {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }

    &__collapse-button {
        display: none;
    }

    &__link {
        padding: 10px;
        justify-content: center;
    }

    &__button {
        padding: 10px;
    }
  }
}

@media(max-width: 767px) {
  .sidebar {
    display: none;
  }
}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;

    &__main {
        margin-left: 12px;
    }

    &__small {
        display: none
    }
}
// CHECKOUT
.checkout {
    flex: 1 1 auto;

    &__table {
        height: calc(100vh - 132px);
        overflow-y: auto;
    }

    &__button {
        width: 24px;
        height: 24px;
        background-color: transparent;
    }

    &__table-header {
        position: sticky;
        z-index: 3;
        top: 0;
        left: 0;
        background-color: #FFFFFF;
        padding: 0 80px 0 40px;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($gray-light, 0.15);
        }
    }

    &__table-row {
        position: relative;
        padding: 0 80px 0 40px;
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: $gray-light;
        }
        @media(any-hover:hover) {
        &:hover .bm-edit-checkout {
            opacity: 1;
            visibility: visible;
            pointer-events: all;
          }
        }
        &:nth-last-child(-n+2) {
            &::before {
                height: 0;
            }
        }
    }

    &__table-info {
        text-align: center;
    }

    &__table-item {
        position: relative;

        .bm-edit-checkout {
            position: absolute;
            top: 10px;
            right: -40px;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            transition: all 0.3s ease;
            @media(any-hover:hover) {
            &:hover {
                .checkout__tooltip-edit {
                    opacity: 1;
                    visibility: visible;
                    pointer-events: all;
                }
              }
            }
        }

        &:nth-child(1) {
            flex: 0 1 7.07%;
        }

        &:nth-child(2) {
            flex: 0 1 16.45%;
        }

        &:nth-child(3) {
            flex: 0 1 21.38%;
        }

        &:nth-child(4) {
            flex: 0 1 11.51%;
        }

        &:nth-child(5) {
            flex: 0 1 13.82%;
        }

        &:nth-child(6) {
            flex: 0 1 17.93%;
        }

        &:nth-child(7) {
            flex: 0 1 40px;
        }
    }

    &__tooltip-edit {
        top: -7px;
        right: 30px;
        &::after {
            left: auto;
            right: 0;
        }
    }

    &__balance {
        display: flex;
        flex-direction: column;
        font-size: 12px;
        line-height: 20px;
    }

    &__balance-currency {
        color: $gray-dark;
    }

    &__api {
        display: flex;
        gap: 8px;
    }

    &__api-value {
        display: none;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 100px;
        .tooltip {
            width: 0;
        }
        &.show {
            display: block;
        }
    }

    &__total {
        position: sticky;
        padding: 0 80px 0 40px;
        bottom: 0;
        width: 100%;
        background-color: $white;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: $gray-light;
        }
        @media(any-hover:hover) {
        &:hover {
            background-color: $white;
          }
        }
    }

    &__table-status {
        &.hide {
            display: none;
        }
    }
}

.b-show-api {
    &.active > .icon-hide {
        display: block;
    }
    &.active > .icon-show {
        display: none;
    }
}

@media(max-width: 1366px) {
    .checkout {
        &__table {
            overflow-x: auto;
        }

        &__table-header,
        &__table-content {
            min-width: 1216px;
        }
    }
}

@media(max-width: 1024px) {
    .checkout {
        &__table-item {
            .bm-edit-checkout {
                opacity: 1;
                visibility: visible;
                pointer-events: all;
            }
        }
    }
}

@media(max-width: 767px) {
  .checkout {
    &__table {
        display: none;
    }
  }
}

.new-checkout {
    &__wrapper {
        width: 368px;
    }

    &__buttons {
        display: flex;
        gap: 8px;
        & > .button {
            flex: 0 1 50%;
        }
    }
}

@media(max-width: 767px) {
    .new-checkout {
        &__wrapper {
            width: 90%;
        }
    }
}

.edit-checkout {
    &__wrapper {
        width: 368px;
    }
}

@media(max-width: 767px) {
    .edit-checkout {
        &__wrapper {
            width: 90%;
        }
    }
}

.checkout-info {
    &__wrapper {
        width: 688px;
    }

    &__tabs {
        position: relative;
        width: 100%;
        margin-bottom: 16px;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba($gray-light, 0.6);
        #tab-payment {
            color: $black;
        }
        &::after {
            content: "";
            position: absolute;
            top: 2px;
            left: 2px;
            width: 50%;
            height: 90%;
            background-color: $white;
            border-radius: 10px;
            transition: all 0.3s ease;
        }
        &.toggle {
            #tab-payment {
                color: $gray-dark
            }
            #tab-payout {
                color: $black
            }
            &::after {
                left: 49.7%;
            }
        }
    }

    &__tab {
        position: relative;
        z-index: 1;
        flex: 0 0 50%;
        font-weight: 450;
        padding: 12px 16px;
        font-size: 14px;
        line-height: 20px;
        color: $gray-dark;
        background-color: transparent;
        transition: all 0.3s ease;
        @media(any-hover:hover) {
        &:hover {
            color: $black;
          }
        }
    }

    &__tab-adaptive {
        display: none;
    }

    &__table-content {
        .table__row {
            position: relative;
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: $gray-light;
            }
        }
    }

    &__table-item {
        &:nth-child(1) {
            flex: 0 1 49.39%;
        }
        
        &:nth-child(2) {
            flex: 0 1 30.49%;
        }
    
        &:nth-child(3) {
            flex: 0 1 16.46%;
        }
    }
        
    * .table__row-header,
    .table__row {
        padding: 0 12px;
    }
}

@media(max-width: 767px) {
    .checkout-info {
        &__wrapper {
            width: 90%;
        }

        &__tab-adaptive {
            display: block;
        }

        &__table,
        &__tab-value {
            display: none;
        }

        &__title {
            font-size: 12px;
            font-weight: 600;
            line-height: 20px;
            color: $black;
        }

        &__payment {
            flex-direction: column;
        }

        &__method {
            color: $gray-dark;
        }

        &__adaptive {
            .table-adaptive__row {
                padding: 0 12px;
            }
            .table-adaptive__item {
                padding: 16px 0;
            }
            .table-adaptive__value {
                word-break: normal;
            }
        }
    }
}

.checkout-adaptive {
    &__url {
        word-break: break-all
    }

    &__balance {
        display: flex;
        flex-direction: column;
        word-break: normal;
    }

    &__buttons {
        display: flex;
        gap: 8px;
        word-break: normal;
        margin-top: 12px;
        padding: 0 20px;
        > .button {
            flex: 1 1 50%;
        }
    }
}

// PAYMENTS
.payments-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 8px;
}

.payments-buttons,
.payments-filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

@media(max-width: 767px) {
    .payments-filters {
        justify-content: flex-end;
        flex: 1 1 45%;
    }

    .payments-buttons {
        flex: 1 1 45%;
        &__icon {
            display: none;
        }

        .button {
            padding: 10px 16px;
            flex: 1 1 50%;
            justify-content: center;
        }
    }

    .payments-filters {
        &__icon {
            display: none;
        }

        .search__input {
            width: 100%;
        }

        .filter .button {
            padding: 10px 16px;
            width: 100%;
            justify-content: center;
        }
    }
}

@media(max-width: 576px) {
  .payments-buttons{
    flex: 1 1 100%;
  }

  .payments-filters {
    .filter {
        flex: 0 1 auto;
    }

    .search {
        flex: 1 1 auto;
    }
  }
}

.payments {
    &__table {
        height: calc(100vh - 180px);
        overflow-y: auto;
    }

    &__table-header {
        position: sticky;
        z-index: 3;
        top: 0;
        left: 0;
        background-color: #FFFFFF;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($gray-light, 0.15);
        }
    }

    &__table-header .payments__table-item {
        padding: 12px 0;
    }

    &__table-row {
        position: relative;
        align-items: center;
        border-top: none;
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: $gray-light;
        }
        &:last-child {
            &::before {
                height: 0;
            }
        }
    }

    &__table-info {
        text-align: center;
    }

    &__table-item {
        padding: 4px 0;

        &:nth-child(1) {
            flex: 0 1 8.06%;
        }
    
        &:nth-child(2) {
            flex: 0 1 6.91%;
        }
    
        &:nth-child(3) {
            flex: 0 1 6.58%;
        }
    
        &:nth-child(4) {
            flex: 0 1 10.36%;
        }
    
        &:nth-child(5) {
            flex: 0 1 10.36%;
        }
    
        &:nth-child(6) {
            flex: 0 1 10.86%;
        }
    
        &:nth-child(7) {
            flex: 0 1 8.55%;
        }
    
        &:nth-child(8) {
            flex: 0 1 10.86%;
        }
    
        &:nth-child(9) {
            flex: 0 1 8.96%;
        }
    
        &:nth-child(10) {
            flex: 0 1 9.05%;
        }
    
        &:nth-child(11) {
            flex: 0 1 40px;
        }
    }

    &__status {
        display: inline-block;
        padding: 6px 12px;
        border-radius: 56px;
        min-width: 84px;
        text-align: center;
        &.sucess {
            background-color: rgba($green, 0.2);
        }
        &.cancel {
            background-color: rgba($red, 0.2);
        }
        &.hide {
            display: none;
        }
    }

    &__time {
        color: $gray-dark;
    }
}

@media(max-width: 1366px) {
    .payments {
        &__table {
            overflow-x: auto;
        }

        &__table-header,
        &__table-content {
            min-width: 1216px;
        }
    }
}

@media(max-width: 767px) {
  .payments {
    &__table {
        display: none;
    }

    &__status {
        padding: 2px 12px;
    }

    &__date {
        gap: 6px;
    }

    &__buttons {
        margin-top: 12px;
        .button {
            flex: 1 1 100%;
        }
    }
  }
}

.create-payment {
    &__wrapper {
        width: 368px;
    }

    &__buttons {
        display: flex;
        gap: 12px;

        > .button {
            flex: 1 1 50%;
        }
    }
}

@media(max-width: 767px) {
    .create-payment {
        &__wrapper {
            width: 90%;
        }
    }
}

.payments-info {
    &__wrapper {
        width: 466px;
    }

    &__table {
        padding: 0 12px;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
        font-size: 12px;
        line-height: 20px;
        &:not(:first-child) {
            border-top: 1px solid $gray-light;
        }
    }

    &__title {
        flex: 0 1 50%;
        font-weight: 600;
    }

    &__value {
        flex: 0 1 50%;
        text-align: left;
    }

    &__time {
        color: $gray-dark;
    }
}

@media(max-width: 767px) {
  .payments-info {
    &__wrapper {
        width: 90%;
    }

    &__item {
        gap: 20px;
    }
  }
}

.export {
    &__wrapper {
        width: 368px;
    }

    &__buttons {
        display: flex;
        gap: 12px;
        > .button {
            flex: 0 1 50%;
        }
    }
}

@media(max-width: 767px) {
    .export {
        &__wrapper {
            width: 90%;
        }
    }
}
// PAYOUTS
.payouts {
    &__table {
        height: calc(100vh - 180px);
        overflow-y: auto;
    }

    &__table-header {
        position: sticky;
        z-index: 3;
        top: 0;
        left: 0;
        background-color: #FFFFFF;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($gray-light, 0.15);
        }
    }

    &__table-header .payouts__table-item {
        padding: 12px 0;
    }

    &__table-row {
        position: relative;
        align-items: flex-start;
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: $gray-light;
        }
        &:last-child {
            &::before {
                height: 0;
            }
        }
    }

    &__table-api {
        display: inline-block;
        padding: 2px 4px;
        border-radius: 6px;
        background-color: rgba($gray-light, 0.5);
        line-height: 12px;
    }

    &__bank,
    &__time {
        color: $gray-dark;
    }

    &__status-sucess {
        padding: 6px 12px;
        border-radius: 56px;
        background-color: rgba($green, 0.2);
        text-align: center;
        max-width: max-content;
    }

    &__table-info {
        text-align: center;
        .bm-payouts-info {
            vertical-align: text-top;
        }
    }

    &__table-item {
        padding: 10px 0;

        &:nth-child(1) {
            flex: 0 1 8.06%;
        }
    
        &:nth-child(2) {
            flex: 0 1 6.74%;
        }
    
        &:nth-child(3) {
            flex: 0 1 6.41%;
        }
    
        &:nth-child(4) {
            flex: 0 1 9.87%;
        }
    
        &:nth-child(5) {
            flex: 0 1 9.87%;
        }
    
        &:nth-child(6) {
            flex: 0 1 11.84%;
        }
    
        &:nth-child(7) {
            flex: 0 1 12.17%;
        }
    
        &:nth-child(8) {
            flex: 0 1 14.47%;
        }
    
        &:nth-child(9) {
            flex: 0 1 10.86%;
        }
    
        &:nth-child(10) {
            flex: 0 1 40px;
        }
    }

    &__status {
        padding: 4px 0;
    }
}

@media(max-width: 1366px) {
    .payouts {
        &__table {
            overflow-x: auto;
        }

        &__table-header,
        &__table-content {
            min-width: 1216px;
        }
    }
}

@media(max-width: 767px) {
  .payouts {
    &__table {
        display: none;
    }

    &__table-api {
        margin-left: 4px;
    }

    &__pay {
        display: flex;
        flex-direction: column;
    }

    &__status-sucess {
        padding: 2px 12px;
        width: 130px;
        text-align: center;
    }

    &__date {
        gap: 6px;
    }
  }
}

.payouts-export {
    &__wrapper {
        width: 368px;
    }

    &__buttons {
        display: flex;
        gap: 12px;

        >.button {
            flex: 0 1 50%;
        }
    }
}

@media(max-width: 767px) {
    .payouts-export {
        &__wrapper {
            width: 90%;
        }
    }
}

.create-payout {
    &__wrapper {
        width: 368px;
    }

    &__buttons {
        display: flex;
        gap: 12px;

        >.button {
            flex: 1 1 50%;
        }
    }
}

@media(max-width: 767px) {
    .create-payout {
        &__wrapper {
            width: 90%;
        }
    }
}

.payouts-info {
    &__wrapper {
        width: 466px;
    }

    &__table {
        padding: 0 12px;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
        font-size: 12px;
        line-height: 20px;

        &:not(:first-child) {
            border-top: 1px solid $gray-light;
        }
    }

    &__title {
        flex: 0 1 50%;
        font-weight: 600;
    }

    &__value {
        flex: 0 1 50%;
        text-align: left;
    }

    &__time {
        color: $gray-dark;
    }
}

@media(max-width: 767px) {
    .payouts-info {
        &__wrapper {
            width: 90%;
        }

        &__item {
            gap: 20px;
        }
    }
}
// SETTINGS
.settings {
    &__info {
        padding: 30px 40px 32px;
        .input {
            width: 360px;
        }
    }

    &__form .button {
        min-width: 140px;
    }

    &__title {
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 20px;
    }

    &__sessions {
        padding-top: 32px;
    }

    &__sessions-header {
        margin-bottom: 20px;
        padding-left: 40px;
        & > .settings__title {
            display: inline-block;
            margin-bottom: 0;
            margin-right: 24px;
        }
    }

    &__sessions-close {
        display: inline-block;
        font-weight: 450;
        font-size: 12px;
        line-height: 20px;
        color: $blue;
        background-color: transparent;
        @media(any-hover:hover) {
        &:hover {
            color: rgba($blue, 0.8);
          }
        }
    }

    &__sessions-list {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }

    &__sessions-item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 40px;
        font-size: 12px;
        line-height: 20px;
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: $gray-light;
        }
        &:first-child {
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: $gray-light;
            }
        }
        &.active {
            background-color: rgba($gray-light, 0.15);
            .settings__sessions-current {
                opacity: 1;
                color: $gray-dark;
            }
        }
    }

    &__sessions-time {
        color: $gray-dark;
    }

    &__sessions-current {
        opacity: 0;
    }
}

@media(min-width: 767px) {
  .settings {
    height: calc(100vh - 44px);
    overflow-y: auto;
  }
}

@media(max-width: 767px) {
    .settings {
        padding-top: 50px;

        &__info {
            padding: 30px 16px;
        }

        &__button {
            width: 360px;
        }

        &__title {
            font-size: 20px;
            line-height: 28px;
            margin-bottom: 12px;
        }

        &__sessions {
            padding-top: 18px;
        }

        &__sessions-header {
            gap: 8px;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            padding-left: 16px;
            margin-bottom: 12px;
            & > .settings__title {
                margin-right: 0;
            }
        }

        &__sessions-item {
            padding: 6px 16px;
            flex-wrap: wrap;
            justify-content: flex-end;
        }

        &__sessions-ip {
            flex: 1 1 50%;
        }

        &__sessions-current {
            padding-left: 20px;
        }
    }
}

@media(max-width: 576px) {
    .settings {
        &__info .input {
            width: 100%;
        }

        &__button {
            width: 100%;
        }
    }
}

// BM BUTTONS
@media(max-width: 576px) {
  .bm-new-checkout {
    width: 100%;
    justify-content: center;
  }
}

// MODALS CONFIRM
.modal-confirm {
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__icon {
        margin-bottom: 12px;
    }

    &__title {
        margin-bottom: 8px;
        font-size: 20px;
        font-weight: 500;
        line-height: 28px;
    }

    &__text {
        margin-bottom: 24px;
        font-size: 14px;
        line-height: 24px;
        color: $gray-dark;
        text-align: center;
    }

    &__buttons {
        display: flex;
        align-self: normal;
        gap: 8px;
        .button {
            flex: 1 1 50%;
        }
    }
}

@media(min-width: 576px) {
    .modal-confirm {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-y: hidden;
    }
}

.exit {
    &__wrapper {
        width: 368px;
    }
}

@media(max-width: 767px) {
    .exit {
        &__wrapper {
            width: 90%;
        }
    }
}

.close-session {
    &__wrapper {
        width: 368px;
    }
}

@media(max-width: 767px) {
    .close-session {
        &__wrapper {
            width: 90%;
        }
    }
}

// ERROR
.error {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 350px;
        text-align: center;
    }

    &__image {
        margin-bottom: 32px;
    }

    &__title {
        margin-bottom: 4px;
        font-size: 20px;
        font-weight: 500;
        line-height: 28px;
    }

    &__text {
        margin-bottom: 16px;
        font-size: 14px;
        line-height: 24px;
        color: $gray-dark;
    }
}

@media(max-width: 576px) {
    .error {
        &__content {
            max-width: 280px;
        }

        &__image {
            img {
                width: 200px;
                height: 200px;
            }
        }
    }
}

// DATEPICKER
.air-datepicker {
    font-family: "Suisse Int'l";
    z-index: 999;
    border-radius: 12px;
    border: 1px solid $gray-light;
    background-color: $white;
    box-shadow: 0px 6px 34px 0px rgba($black, 0.12);
}

.air-datepicker-nav--title {
    font-size: 14px;
    font-weight: 450;
    line-height: 20px;
    color: $black;
    &:hover {
        background-color: rgba($gray-light, 0.40);
    }
    i {
        color: rgba($gray-dark, 0.60);
    }
}

.air-datepicker-cell {
    font-size: 12px;
    line-height: 20px;
    color: $black;
    border-radius: 8px;
    &:hover {
        background-color: rgba($gray-light, 0.40);
    }
    &.-current- {
        color: $blue;
    }
    &.-other-month- {
       color: rgba($gray-dark, 0.5);
    }
    &.-selected- {
        color: $white;
        background-color: $blue;
        &.-focus- {
            background-color: $blue;
        }
    }
    &.-in-range- {
        background-color: rgba($blue, 0.08);
    }
}

.air-datepicker-body--day-name {
    font-size: 12px;
    font-weight: 450;
    line-height: 20px;
    color: $gray-dark;
}

.air-datepicker-nav--action {
    border-radius: 10px;
    &:hover {
        background-color: rgba($gray-light, 0.40);
    }
    &:active {
        background-color: rgba($gray-light, 0.60);
    }
    svg {
        width: 24px;
        height: 24px;
    }
    path {
        fill: rgba($gray-dark, 0.6);
        stroke-width: 0;
        stroke: none;
    }
}

// RESET CONTUR
* {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
}