@import "fonts.scss";
@import "null.scss";
@import "variables.scss";

// BASE
// * {
//     scrollbar-color: rgba($gray-dark, 0.8) rgba($gray-light, 0.8);
//     scrollbar-width: thin;
// }

body {
    font-family: "Suisse Int'l";
    font-size: 16px;
    color: $black;
    background-color: $white;
    &.open {
        overflow: hidden;
    }
}

// body::-webkit-scrollbar {
//     width: 8px;
// }

// body::-webkit-scrollbar-track {
//     border-radius: 4px;
//     background-color: rgba($gray-light, 0.8);
// }

// body::-webkit-scrollbar-thumb {
//     border-radius: 4px;
//     background-color: rgba($gray-dark, 0.8)
// }

.wrapper {
    position: relative;
    height: 100vh;
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    margin-left: 224px;
    width: 100%;
    transition: all 0.3s ease;
    &.collapse {
        margin-left: 72px;
    }
}
// COMMON
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease;
    background-color: rgba($black, 0.5);
    overflow: auto;
    &.open {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        .modal__wrapper {
            top: 0;
        }
    }

    &__wrapper {
        position: relative;
        top: -50px;
        padding: 20px 12px;
        background-color: $white;
        border-radius: 28px;
        transition: all 0.5s ease;
    }

    &__close {
        position: absolute;
        width: 20px;
        height: 20px;
        top: -18px;
        right: -14px;
        background-color: transparent;
    }

    &__title {
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 20px;
        line-height: 32px;
        text-align: center;
    }
}

.input {
    position: relative;
    &.focused {
        .input__placeholder {
            top: 30%;
            font-size: 12px;
            line-height: 12px;
        }
        .input__field {
            padding: 18px 12px 6px 12px;
        }
    }
    &.error {
        .input__description {
            display: block;
            color: $red;
        }
        .input__field {
            border: 1px solid $red;
            background: rgba($red, 0.04);
        }
    }

    &__field {
        padding: 12px;
        width: 100%;
        font-size: 14px;
        line-height: 22px;
        border-radius: 12px;
        border: 1px solid $gray-light;
        background-color: $white;
        &:hover {
            border: 1px solid rgba($gray-dark, 0.40);
        }
        &:focus {
            border: 1px solid $blue;
        }
        &:disabled {
            background-color: rgba($gray-light, 0.30);
        }
    }

    &__placeholder {
        position: absolute;
        top: 50%;
        left: 12px;
        font-size: 14px;
        line-height: 22px;
        color: rgba($gray-dark, 0.8);
        transform: translateY(-50%);
        pointer-events: none;
    }

    &__description {
        display: none;
        position: absolute;
        z-index: 5;
        bottom: -12px;
        left: 0;
        color: rgba($gray-dark, 0.80);
        font-size: 12px;
        line-height: 12px;
    }
}

.select {
    position: relative;

    &__wrapper {
        position: relative; 
    }

    &__list {
        position: absolute;
        z-index: 5;
        top: -7px;
        left: 0;
        width: 100%;
        padding: 6px;
        border-radius: 12px;
        background-color: $white;
        box-shadow: 0px 6px 34px 0px rgba($black, 0.12);
        transition: all 0.4s ease;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    &__item {
        position: relative;
        padding: 12px 16px;
        border-radius: 12px;
        font-size: 14px;
        font-weight: 450;
        line-height: 20px;
        cursor: pointer;
        transition: all 0.4s ease;
        &:hover {
            background-color: rgba($gray-light, 0.20);
        }
        &.selected {
            background-color: rgba($gray-light, 0.40);
            &::after {
                content: url("../assets/img/selected.svg");
                position: absolute;
                top: 12px;
                right: 16px;
            }
        }
    }

    &__icon {
        position: absolute;
        top: 12px;
        right: 12px;
        pointer-events: none;
    }

    &.open .select__list {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        top: 7px;
    }

    &.open .select__icon {
        transform: rotate(180deg);
    }
}

.select .input__field {
    cursor: pointer;
}

.select .input__field:focus {
    border: 1px solid $gray-light;
}

.labels {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 24px;
}

.input-icon {
    position: absolute;
    top: 12px;
    right: 12px;
}

.button {
    position: relative;
    padding: 12px 24px;
    font-weight: 450;
    font-size: 14px;
    line-height: 20px;
    border-radius: 100px;
    transition: all 0.3s ease;
    &.icon-right {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    &__primary {
        color: $white;
        background-color: $blue;
        &:hover,
        &:active {
            background-color: rgba($blue, 0.8);
        }
        &:disabled {
            background-color: rgba($blue, 0.5);
        }
    }

    &__secondary {
        color: $gray-dark;
        background-color: rgba($gray-light, 0.6);
        &:hover,
        &:active {
            background-color: $gray-light;
        }
        &:disabled {
            color: rgba($gray-dark, 0.5);
            background-color: rgba($gray-light, 0.6);
        }
    }

    &__tertiary {
        color: $blue;
        background-color: rgba($blue, 0.04);
        border: 1px solid $blue;
        &:hover,
        &:active {
            background-color: rgba($blue, 0.12);
        }
        &:disabled {
            color: rgba($blue, 0.50);
            border: 1px solid rgba($blue, 0.50);
            background-color: rgba($blue, 0.04);
        }
    }

    &__outline {
        color: $gray-dark;
        background-color: rgba($gray-light, 0.15);
        border: 1px solid $gray-light;
        &:hover,
        &:active {
            background-color: rgba($gray-light, 0.5);
        }
        &:disabled {
            color: rgba($gray-dark, 0.5);
        }
    }
}

.search {
    position: relative;

    &__icon {
        position: absolute;
        top: 12px;
        left: 16px;
    }

    &__input {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        padding: 12px 16px 12px 48px;
        border-radius: 100px;
        background-color: rgba($gray-light, 0.04);
        border: 1px solid $gray-light;
        transition: all 0.3s ease;
        &:hover {
            background-color: rgba($gray-light, 0.15);
            border: 1px solid rgba($gray-dark, 0.40);
        }
        &:focus {
            background-color: rgba($gray-light, 0.15);
            border: 1px solid $blue;
        }
    }
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 40px;
    margin-top: auto;
    border-bottom: 1px solid $gray-light;

    &__info {
        display: flex;
        gap: 20px;
        font-weight: 450;
        font-size: 12px;
        line-height: 20px;
    }
    
    &__count {
        color: $gray-dark;
    }

    &__navigation {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    &__button {
        width: 28px;
        height: 28px;
        background-color: transparent;
        border-radius: 8px;
        transition: all 0.3s ease;
        &:hover {
            background-color: rgba($gray-light, 0.50);
        }
    }

    &__list {
        display: flex;
        gap: 4px;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 28px;
        height: 28px;
        font-weight: 450;
        font-size: 12px;
        line-height: 20px;
        border-radius: 8px;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
            background-color: rgba($gray-light, 0.50);
        }
        &.active {
            color: $white;
            background-color: $blue;
        }
    }
}

.filter {
    &__wrapper {
        position: relative;
    }

    &__block {
        position: absolute;
        top: 8px;
        right: 0;
        width: 716px;
        padding: 16px;
        border-radius: 28px;
        background-color: $white;
        box-shadow: 0px 6px 34px 0px rgba($black, 0.12);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: all 0.3s ease;
        &.open {
            opacity: 1;
            visibility: visible;
            pointer-events: all;
        }
    }

    &__fields {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 12px;
        margin-bottom: 24px;
    }

    &__buttons {
        display: flex;
        gap: 12px;
        > .button {
            flex: 0 1 50%;
        }
    }
}

.tooltip {
    position: absolute;
    z-index: 99;
    padding: 8px 10px;
    font-size: 12px;
    line-height: 16px;
    color: $white;
    border-radius: 10px;
    background-color: $gray-dark;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease;
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: -6px;
        background-color: $gray-dark;
        width: 9px;
        height: 9px;
        transform: rotate(45deg) translateY(-50%);
    }
}
// HEADER
.header {
    padding: 24px 40px 16px 40px;
}
// FOOTER
.footer {
    margin-top: auto;
    border-top: 1px solid $gray-light;

    &__content {
        padding: 12px 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__text {
        font-weight: 450;
        font-size: 12px;
        line-height: 20px;
        color: $gray-dark;
    }
}
// TABLE
.table {
    &__content {
        overflow-x: hidden;
        &.scroll .table__row{
            width: calc(100% + 17px);
        }
    }

    &__row-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 40px;
        background-color:rgba($gray-light, 0.15);
        border-top: 1px solid $gray-light;
    }

    &__item-header {
        padding: 12px 0;
        color: $gray-dark;
        font-size: 14px;
        font-weight: 450;
        line-height: 20px;
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 40px;
        border-top: 1px solid $gray-light;
        cursor: pointer;
        &:hover {
            background-color: rgba($gray-light, 0.10);
        }
    }

    &__item {
        padding: 12px 0;
        font-size: 12px;
        line-height: 20px;
    }

    &__item-button {
        position: relative;
        width: 20px;
        height: 20px;
        background-color: transparent;
        &:hover {
            .table__item-tooltip {
                opacity: 1;
                visibility: visible;
                pointer-events: all;
            }
            .table__item-icon {
                fill: $blue;
                fill-opacity: 1;
            }
        }
        &.hide {
            display: none;
        }
    }

    &__item-icon {
        fill: $gray-dark;
        fill-opacity: 0.6;
        transition: all 0.3s ease;
    }

    &__item-tooltip {
        top: -7px;
        left: 30px;
    }
}
// SIDEBAR
.sidebar {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 224px;
    height: 100%;
    padding: 32px 12px 12px 12px;
    background-color: $white;
    border-right: 1px solid $gray-light;
    transition: all 0.3s ease;
    &.collapse {
        width: 72px;
        .sidebar__item-text,
        .sidebar__button-text,
        .sidebar__item.active::after,
        .logo__main {
            display: none;
        }
        .sidebar__collapse-icon {
            transform: rotate(180deg);
        }
        .logo {
            justify-content: center;
        }
        .logo__small {
            display: block;
        }
        .sidebar__item:hover .sidebar__tooltip {
            opacity: 1;
            visibility: visible;
            pointer-events: all;
        }
    }

    &__collapse-button {
        position: absolute;
        width: 32px;
        height: 32px;
        top: 30px;
        right: -15px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $gray-light;
        border-radius: 50%;
        background-color: $white;
        transition: all 0.3s ease;
        &:hover .sidebar__tooltip {
            opacity: 1;
            visibility: visible;
            pointer-events: all;
        }
    }

    &__tooltip {
        top: -2px;
        left: 42px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    &__item {
        position: relative;
        padding: 10px 12px;
        border-radius: 100px;
        transition: all 0.3s ease;
        &:hover {
            background-color: rgba($gray-dark, 0.1);
        }
        &.active {
            background-color: $blue;
            &::after {
                content: "";
                position: absolute;
                top: 12px;
                right: 12px;
                width: 20px;
                height: 20px;
                background-image: url("/assets/img/arrow.svg");
                background-size: 20px 20px;
                background-repeat: no-repeat;
            }
        }
        &.active {
            .sidebar__item-text {
                color: $white;
            }
            .sidebar__item-icon {
                fill: $white;
            }
        }
        .sidebar__tooltip {
            top: 6px;
            left: 57px;
        }
    }

    &__link {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 12px;
    }

    &__item-icon,
    &__button-icon {
        width: 24px;
        height: 24px;
        fill: $black;
    }

    &__item-text {
        font-size: 14px;
        line-height: 20px;
        font-weight: 450;
        color: $black;
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-top: auto;
        gap: 4px;
    }

    &__button {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 12px;
        padding: 12px;
        background-color: $white;
        border-radius: 100px;
        transition: all 0.3s ease;
        &:hover {
            background-color: rgba($gray-dark, 0.1);
        }
    }

    &__button-text {
        font-size: 14px;
        line-height: 20px;
        font-weight: 450;
    }
}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;

    &__small {
        display: none
    };
}
// CHECKOUT
.checkout {
    flex: 1 1 auto;

    &__button {
        width: 24px;
        height: 24px;
        background-color: transparent;
    }

    &__table-content {
        position: relative;
        height: calc(100vh - 176px);
        overflow-y: auto;
    }

    &__table-item {
        &:nth-child(1) {
            flex: 0 1 7.07%;
        }
        &:nth-child(2) {
            flex: 0 1 16.45%;
        }
        &:nth-child(3) {
            flex: 0 1 21.38%;
        }
        &:nth-child(4) {
            flex: 0 1 11.51%;
        }
        &:nth-child(5) {
            flex: 0 1 13.82%;
        }
        &:nth-child(6) {
            flex: 0 1 17.93%;
        }
        &:nth-child(7) {
            flex: 0 1 8.06%;
        }
    }

    &__balance {
        display: flex;
        flex-direction: column;
        font-size: 12px;
        line-height: 20px;
    }

    &__balance-currency {
        color: $gray-dark;
    }

    &__api {
        display: flex;
        gap: 8px;
    }

    &__api-value {
        &.hide {
            display: none;
        }
    }

    &__total {
        position: sticky;
        bottom: 0;
        width: 100%;
        background-color: $white;
    }
}

.new-checkout {
    &__wrapper {
        width: 368px;
    }

    &__buttons {
        display: flex;
        gap: 8px;
        & > .button {
            flex: 0 1 50%;
        }
    }
}

.edit-checkout {
    &__wrapper {
        width: 368px;
    }
}

.checkout-info {
    &__wrapper {
        width: 688px;
    }

    &__tabs {
        position: relative;
        width: 100%;
        padding: 12px 16px;
        margin-bottom: 16px;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba($gray-light, 0.6);
        &::after {
            content: "";
            position: absolute;
            top: 2px;
            left: 2px;
            width: 50%;
            height: 90%;
            background-color: $white;
            border-radius: 12px;
            transition: all 0.3s ease;
        }
        &.toggle {
            &::after {
                left: 330px;
            }
        }
    }

    &__tab {
        position: relative;
        z-index: 1;
        flex: 0 0 50%;
        font-weight: 450;
        font-size: 14px;
        line-height: 20px;
        color: $gray-dark;
        background-color: transparent;
    }

    &__table {
        height: 360px;
        overflow-y: auto;
    }

    &__table-item {
        &:nth-child(1) {
            flex: 0 1 49.39%;
        }
        
        &:nth-child(2) {
            flex: 0 1 30.49%;
        }
    
        &:nth-child(3) {
            flex: 0 1 16.46%;
        }
    }
        
    * .table__row-header,
    .table__row {
        padding: 0 12px;
    }
}
// PAYMENTS
.payments-header {
    display: flex;
    justify-content: space-between;
}

.payments-buttons,
.payments-filters {
    display: flex;
    gap: 8px;
}

.payments {
    &__table-content {
        height: calc(100vh - 237px);
        overflow-y: auto;
    }

    &__table-item {
        &:nth-child(1) {
            flex: 0 1 8.06%;
        }
        &:nth-child(2) {
            flex: 0 1 6.91%;
        }
        &:nth-child(3) {
            flex: 0 1 6.58%;
        }
        &:nth-child(4) {
            flex: 0 1 10.36%;
        }
        &:nth-child(5) {
            flex: 0 1 10.36%;
        }
        &:nth-child(6) {
            flex: 0 1 10.86%;
        }
        &:nth-child(7) {
            flex: 0 1 8.55%;
        }
        &:nth-child(8) {
            flex: 0 1 10.86%;
        }
        &:nth-child(9) {
            flex: 0 1 8.96%;
        }
        &:nth-child(10) {
            flex: 0 1 9.05%;
        }
        &:nth-child(11) {
            flex: 0 1 3.13%;
        }
    }

    &__status-sucess {
        display: inline-block;
        padding: 6px 12px;
        border-radius: 56px;
        background-color: rgba($green, 0.2);
    }

    &__time {
        color: $gray-light;
    }
}

.create-payment {
    &__wrapper {
        width: 368px;
    }

    &__buttons {
        display: flex;
        gap: 12px;

        > .button {
            flex: 1 1 50%;
        }
    }
}

.payments-info {
    &__content {
        width: 466px;
    }

    &__table {
        padding: 0 12px;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
        font-size: 12px;
        line-height: 20px;
        &:not(:first-child) {
            border-top: 1px solid $gray-light;
        }
    }

    &__title {
        flex: 0 1 50%;
        font-weight: 600;
    }

    &__value {
        flex: 0 1 50%;
        text-align: left;
    }

    &__time {
        color: $gray-dark;
    }
}

.export {
    &__wrapper {
        width: 368px;
    }

    &__buttons {
        display: flex;
        gap: 12px;
        > .button {
            flex: 0 1 50%;
        }
    }
}
// PAYOUTS
.payouts {
    &__table-content {
        height: calc(100vh - 237px);
        overflow-y: auto;
    }

    &__table-row {
        align-items: flex-start;
    }

    &__table-api {
        display: inline-block;
        padding: 2px 4px;
        border-radius: 6px;
        background-color: rgba($gray-light, 0.5);
    }

    &__bank,
    &__time {
        color: $gray-dark;
    }

    &__status-sucess {
        padding: 6px 12px;
        border-radius: 56px;
        background-color: rgba($green, 0.2);
    }

    &__table-item {
        &:nth-child(1) {
            flex: 0 1 8.06%;
        }
        
        &:nth-child(2) {
            flex: 0 1 6.74%;
        }
    
        &:nth-child(3) {
            flex: 0 1 6.41%;
        }
    
        &:nth-child(4) {
            flex: 0 1 9.87%;
        }
    
        &:nth-child(5) {
            flex: 0 1 9.87%;
        }
    
        &:nth-child(6) {
            flex: 0 1 11.84%;
        }
    
        &:nth-child(7) {
            flex: 0 1 12.17%;
        }

        &:nth-child(8) {
            flex: 0 1 14.47%;
        }

        &:nth-child(9) {
            flex: 0 1 10.86%;
        }

        &:nth-child(10) {
            flex: 0 1 3.13%;
        }
    }
}

.payouts-export {
    &__wrapper {
        width: 368px;
    }

    &__buttons {
        display: flex;
        gap: 12px;

        >.button {
            flex: 0 1 50%;
        }
    }
}

.create-payout {
    &__wrapper {
        width: 368px;
    }

    &__buttons {
        display: flex;
        gap: 12px;

        >.button {
            flex: 1 1 50%;
        }
    }
}

.payouts-info {
    &__content {
        width: 466px;
    }

    &__table {
        padding: 0 12px;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
        font-size: 12px;
        line-height: 20px;

        &:not(:first-child) {
            border-top: 1px solid $gray-light;
        }
    }

    &__title {
        flex: 0 1 50%;
        font-weight: 600;
    }

    &__value {
        flex: 0 1 50%;
        text-align: left;
    }

    &__time {
        color: $gray-dark;
    }
}
// SETTINGS
.settings {
    &__info {
        max-width: 360px;
        padding: 30px 40px;
    }

    &__form .button {
        min-width: 164px;
    }

    &__title {
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 22px;
    }

    &__sessions {
        padding-top: 30px;
    }

    &__sessions-header {
        display: flex;
        align-items: center;
        gap: 24px;
        margin-bottom: 24px;
        padding-left: 40px;
        & > .settings__title {
            margin-bottom: 0;
        }
    }

    &__sessions-close {
        font-weight: 450;
        font-size: 12px;
        line-height: 16px;
        color: $blue;
        background-color: transparent;
    }

    &__sessions-list {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }

    &__sessions-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 40px;
        font-size: 12px;
        line-height: 20px;
        border-bottom: 1px solid $gray-light;
        &:first-child {
            border-top: 1px solid $gray-light;
        }
        &.active {
            background-color: rgba($gray-light, 0.15);
            .settings__sessions-current {
                opacity: 1;
                color: $gray-dark;
            }
        }
    }

    &__sessions-time {
        color: $gray-dark;
    }

    &__sessions-current {
        opacity: 0;
    }
}